### Java template
# Compiled class file
**/*.class

# Log file
**/*.log

# Build directory
**/build/

# Logs directory
**/logs/

# Reports folder
**/reports/

# Gradle files
**/gradle/
**/.gradle/

# Screenshots folder
**/screenshots/

# Mobile Tools for Java (J2ME)
**/.mtj.tmp/

# Package Files #
**/*.jar
**/*.war
**/*.nar
**/*.ear
**/*.zip
**/*.tar.gz
**/*.rar

# Idea files
**/*.iml
**/.idea/

**/HELP.md
**/.mvn/
**/mvnw
**/mvnw.cmd
**/node_modules/

